*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  font-size: 1.8rem;
  background-color: $very-dark-blue;
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 350px);
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 2rem;
}
